include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../container/container
include ../scripts/scripts
include ../main-form/main-form
include ../personal-info/personal-info
include ../skills/skills
include ../javascript-level/javascript-level
include ../about/about
include ../plans/plans
include ../about/about
include ../date/date
include ../slider/slider


doctype html
html(lang='ru')
	include ../head/head
	+page
		+container
			+header
			+main-form
				+personal-info
				+skills
				+javascript-level
					+slider
				+about
				+plans
				+date
			block content
			+scripts(['app.min.js'])
