.date

	&__title
		display inline-block
		vertical-align bottom
		title()
		margin-bottom 0



	&__value
		display inline-block
		padding 5px 10px
		vertical-align bottom
		set-font-size(font-size-input)
		border-bottom 2px solid black
