mixin date()
	+b.SECTION.date&attributes(attributes)
		+e.LABEL.label Дата заполнения
		//- +e.INPUT.value(id="flatpickr" type="text" value="01.01.2016" data-input)
		+e.INPUT.input(type="text" value="01.01.2016")
		block
