.container
	position relative
	display block

	width 77%
	max-width 1000px

	padding 62px  5.9%

	margin 0 auto
	background-color color-bg-container
	background-image url('../images/test-quest-bg-body.jpg')
	background-repeat repeat

	// to prevent stemp(scale) animation make a horizontal scroll
	overflow hidden

@media (max-width 800px)
	.container
		width 100%
