.container
	position relative
	display block

	width 77%
	max-width 1000px

	padding 70px

	margin 0 auto
	background-color color-bg-container
	background-image url('../images/test-quest-bg-body.jpg')
	background-repeat repeat
