mixin radio(label, id, checked)
	+e.INPUT.input(type = "radio",name = "plan", id=id, checked=checked)
	+e.LABEL.label(for=id) #{label}

mixin plans()
	+b.SECTION.plans&attributes(attributes)
		+e.H3.title Какие у вас планы на будущее?
		+e.P.text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.

		+e.DIV.radio-wrapper
			+radio("Верстать", "html", true)
			+radio("Прокачиваться в JS", "js")
			+radio("Менеджерство", "pm")
			+radio("Другое", "other")

		block
