.plans
	margin-bottom 74px

	&__title
		title()

	&__text
		margin-bottom 12px
		color font-color-text
		set-font-size(font-size-text)

	&__radio-wrapper
		display flex
		flex-flow row wrap
		justify-content flex-start

	&__label
		position relative
		display inline-block
		cursor pointer
		padding 10px 20px 10px 35px
		white-space nowrap
		set-font-size(font-size-radio)
		font-weight bold

		&::before
			content ''
			position absolute
			size(18px, 18px)
			top 10px
			left -1px
			border 2px solid color-borders
			border-radius 50%


	&__input
		display none

// set radio on  when input set checked
.plans__input:checked + .plans__label::after
	content ''
	position absolute
	cursor pointer
	width 12px
	height 12px
	top 15px
	left 4px;
	border-radius 50%;
	background color-borders

@media (max-width 1000px)
	.plans
		&__label
			width 50%

@media (max-width 500px)
	.plans
		margin-bottom 20px

		&__label
			width 100%
			set-font-size(18px)
