mixin radio(label, checked)
	+e.LABEL.label #{label}
	+e.INPUT.input(type = "radio",name = "plan")

mixin plans()
	+b.SECTION.plans&attributes(attributes)
		+e.H3.title Какие у вас планы на будущее?
		+e.P.text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.

		+e.DIV.radio-wrapper
			+radio("Верстать")
			+radio("Прокачиваться в JS")
			+radio("Менеджерство")
			+radio("Другое")

		block
