.plans
	margin-bottom 66px

	&__title
		title()

	&__text
		margin-bottom 12px
		color font-color-text
		set-font-size(font-size-text)

	&__radio-wrapper
		display flex
		flex-flow row wrap
		justify-content flex-start

	&__label
		position relative
		padding 10px 20px 10px 35px
		display inline-block
		set-font-size(font-size-radio)
		font-weight bold
		white-space nowrap
		cursor pointer

		&:active
			opacity .5

		&::before
			position absolute
			top 10px
			left -1px
			size(18px, 18px)
			content ''
			border 2px solid color-borders
			border-radius 50%


	&__input
		display none

// set radio on  when input set checked
.plans__input:checked + .plans__label::after
	position absolute
	top 15px
	left 4px
	width 12px
	height 12px
	cursor pointer
	content ''
	background color-borders
	border-radius 50%

@media (max-width 1000px)
	.plans
		&__label
			width 50%

@media (max-width 500px)
	.plans
		margin-bottom 20px

		&__label
			width 100%
			set-font-size(18px)
