body
	font-family font-pt-sans
	font-size 16px

input
	font-family font-courier-new

a
	color font-color-link

	&:hover
		color lighten(font-color-link, 30%)

fieldset
	outline none
	border none


.visually-hidden
	position absolute
	margin -1px
	padding 0
	width 1px
	height 1px
	border 0
	clip-path rect(0,0,0,0)
	overflow hidden
