// Colors
color-bg-body =  #797979
color-bg-container = #e9ca97


// Fonts
font-pt-sans = 'PT Sans', Verdana,  Helvetica, sans-serif

font-size-label = 22.43px
font-size-input =  30px
font-size-title = 24px
font-size-text = 15px
font-size-checkbox = 21px
font-size-radio = 20px


// TODO add more font colors
font-color-inputs = #2f1b15
font-color-text = #3d3d3d
font-color-title = #2f1b15
