.header
	display block

	&__logo
		display block

	&__title
		display block

		margin 100px auto 40px

		text-align center

	&__stamp
		position absolute
		top 40px
		right 40px
		animation-name stamped
		animation-duration .3s
		animation-timing-function ease-in-out
