mixin header()
	+b.HEADER.header&attributes(attributes)
		+e.IMG.logo(src='assets/images/test-quest-logo.png', alt='логотип комании csssr', width='154', height='52')
		+e.H1.logo-wrapper
			+e.IMG.title(src='assets/images/test-quest-title.png' alt='Дело' width='221' height='118')
		+e.IMG.stamp(src='assets/images/test-quest-stamp.png' alt='секретно заполнено собственноручно', width='252', height='106')
		block
