mixin header()
	+b.HEADER.header&attributes(attributes)
		+e.IMG.logo(src='assets/images/test-quest-logo.png', alt='логотип комании csssr')
		+e.H1.logo-wrapper
			+e.IMG.title(src='assets/images/test-quest-title.png' alt='Дело')
		+e.IMG.stamp(src='assets/images/test-quest-stamp.png' alt='секретно заполнено собственноручно')
		block
