.header
	margin-bottom 45px
	display block

	&__logo
		display block

	&__title
		margin 40px auto
		display block
		text-align center

	&__stamp
		position absolute
		top 48px
		right 50px
		animation-name stamped
		animation-duration .3s
		animation-timing-function ease-in-out

@media (max-width 500px)
	.header
		margin-bottom 20px

		&__logo
			margin 0 auto

		&__title
			margin-top 100px

		&__stamp
			top 110px
			left 20%
