.slider
	position relative
	padding-top 4.6rem
	min-height 113px
	cursor pointer
	background-image url('../images/line.png')
	background-repeat repeat-x
	background-position left 0 top 18px

	// left border
	&::before
		position absolute
		top 46px
		left 0
		width 3px
		height 26px
		content ''
		background color-borders

	&::after
		position absolute
		top 46px
		right 0
		width 3px
		height 26px
		content ''
		background color-borders

	&__knob
		position absolute
		top 8px
		left 36.5% // initial knob position Использую готовые решения и уменю их переделывать
		width 3em
		height 3em

		&_move
			transition all .5s ease

		&_scale
			transform scale(1.2)

		&:before
			position absolute
			left 50%
			bottom 10px
			width 0
			height 0
			content ''
			border 7px solid transparent
			border-top 15px solid color-borders
			transform translate3d(-50%, 0, 0)

	&__notations
		display table // flex fallback for older browsers
		display flex
		flex-flow row nowrap
		width 100%
		justify-content space-between
		align-items flex-start

	&__notation-item
		position relative
		margin-right 1em
		// flex fallback for older browsers
		display table-cell
		// flex 0 1 200px
		set-font-size(font-size-slider)

		// scale mark
		&::after
			position absolute
			top -27px
			left 0
			width 3px
			height 12px
			content ''
			background color-borders

		&:nth-of-type(1)
			// flex-basis 130px
			&::after
				display none

		&:nth-of-type(2)
			// flex-basis 200px
			margin-right 20px


		&:nth-of-type(3)
			// flex-basis 180px
			margin-right 20px
			line-height 1rem


		&:last-of-type
			margin-right 0
			text-align right
			&::after
				display none
