mixin slider()
	+b.DIV.slider&attributes(attributes)
		+e.DIV.slide-field(data-slider='slider-field')
			+e.DIV.knob(data-slider='slider-knob')
		+e.UL.notations
			+e.LI.notation-item(data-slider='slider-mark' data-value='0') Не владею
			+e.LI.notation-item(data-slider='slider-mark' data-value='19.5') Использую готовые решения
			+e.LI.notation-item(data-slider='slider-mark' data-value='49') Испольую готовые решения и уменю их переделывать
			+e.LI.notation-item(data-slider='slider-mark' data-value='100') Пишу сложный JS с нуля

		block
