.slider
	padding-top 5px
	background-image url('../images/line.png')
	background-repeat repeat-x
	background-position left -3px top -24px

	&__slide-field
		position relative
		margin-bottom 5px
		height 25px
		border-top 2px solid color-borders
		border-left 3px solid color-borders
		border-right 3px solid color-borders

	// make it bigger for better user experience
	&__knob
		position absolute
		top -50px
		left 50%
		width 50px
		height 50px
		cursor pointer
		transition transform .3s

		// inner triangle
		&::after
			position absolute
			top 25px
			left 50%
			width 1px
			height 1px
			content ''
			border 8px solid transparent
			border-top 14px solid #2f1b15
			transform translateX(-50%)
			transition transform .3s


	&__notations
		display table

	&__notation-item
		position relative
		margin-right 5px
		display table-cell
		set-font-size(font-size-slider)
		font-weight bold
		line-height 1.35
		cursor pointer
		transition .3s

		&:hover
			transform rotate(2deg)

		&:nth-of-type(1)
			width 19%

		&:nth-of-type(2)
			width 29%

		&:nth-of-type(3)
			width 22%

		&:last-of-type
			margin-right 0
			padding-top 5px
			width 30%
			text-align right

			&::before
				display none


@media (max-width 520px)
	.slider

		&__notation-item
			set-font-size(13px)
