mixin slider()
	+b.DIV.slider&attributes(attributes)
		+e.DIV.slide-field
			+e.DIV.knob
		+e.UL.notations
			+e.LI.notation-item Не владею
			+e.LI.notation-item Использую готовые решения
			+e.LI.notation-item Испольую готовые решения и уменю их переделывать
			+e.LI.notation-item Пишу сложный JS с нуля

		block
