.slider
	position relative
	padding-top 6em
	min-height 200px
	background-image url('../images/line.png')
	background-repeat repeat-x
	background-position left 0 top 40px
	cursor pointer
	// left border
	&::before
		position absolute
		left 4px
		top 68px
		width 3px
		height 26px
		content ''
		background color-borders

	&::after
		position absolute
		right 0
		top 68px
		width 3px
		height 26px
		content ''
		background color-borders

	&__knob
		position absolute
		top 30px
		left 0
		width 3em
		height 3em

		&_move
			transition all 0.5s ease

		&_scale
			transform scale(1.2)

		&:before
			position absolute
			bottom 10px
			left 50%
			content ''
			width 0
			height 0
			border 7px solid transparent
			border-top 15px solid color-borders
			transform translate3d(-50%, 0, 0)

	&__notations
		display flex
		flex-flow row nowrap
		justify-content space-around
		align-items flex-start

	&__notation-item
		margin-right 2em

		&:last-of-type
			margin-right 0
