- var skills = ['Не владею', 'Использую готовые решения', 'Испольую готовые решения и умею их переделывать', 'Пишу сложный JS с нуля']

mixin slider()
	+b.DIV.slider&attributes(attributes)
		+e.DIV.knob(data-slider='slider-knob')
		+e.UL.notations
			for item in skills
				+e.LI.notation-item() #{item}

		block
