.skills

	&__title
		set-font-size(font-size-title)
		color font-color-title

		font-weight bold

		margin-bottom remify(10px)

	&__description
		set-font-size(font-size-text)
		color font-color-text

		margin-bottom remify(30px)

	&__checkbox-wrapper
		display flex
		flex-flow row wrapp
		justify-content space-around

	&__column
		width 30%




	&__input
		display none
